:root {
    --box-background: rgba(255, 255, 255, 0.13);
    --box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    --backdrop-filter: blur(6px);
    --text-color: white;
    --font-weight: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jeton';
}

@font-face {
    font-family: 'Jeton';
    src: url(./SequelSans-Display.BSxqJqbM.woff2);
}
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.box1 {
    /* Reuse the variables here */
    border-radius: 10px;
    background: var(--box-background);
    box-shadow: var(--box-shadow);
    backdrop-filter: var(--backdrop-filter);
    -webkit-backdrop-filter: var(--backdrop-filter);
    cursor: pointer;
    color: var(--text-color);
    font-weight: var(--font-weight);
}
.scroll{
    background: var(--box-background);
    box-shadow: var(--box-shadow);
    backdrop-filter: var(--backdrop-filter);
    -webkit-backdrop-filter: var(--backdrop-filter);
    cursor: pointer;
    color: var(--text-color);
    /* font-weight: var(--font-weight); */
    border-radius: 25px;
}
/* Video Background */


/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    /* background: rgba(0, 0, 0, 0.5); */
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
}

nav a:hover {
    text-decoration: underline;
}

/* Main Content Section */
.section {
    padding: 100px 20px;
    text-align: center;
    color: white;
}




/* Responsive Design */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        text-align: center;
    }

    nav a {
        margin: 0.5rem 0;
    }

    .section h1 {
        font-size: 2rem;
    }

    .section p {
        font-size: 1rem;
    }

    button {
        padding: 0.5rem;
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .right-nav div{
        /* font-size: 0.8rem; */
        padding: 0.5rem;
    }

    #page1text1{
        font-size: 2.5rem;
    }
    #page1text2{
        font-size: 1rem;
    }
    #page2text1{
        font-size: 5rem;
    }
    .page3{
        gap: 1rem;
    }
    .page3 h1{
        font-size: 3rem;
    }
}

